.main {
    text-align: center;
    padding-top: 5rem;
}

.main-item {
    margin-top: 3rem;
}

.main-item__link {
    color: #ffa500;
    text-decoration: none;
    font-size: xx-large;
    font-weight: bold;
}

.main-item__link:visited {
    color: #ffa500;
}

@media screen and (max-width: 376px) {
    .main-item__link {
        font-size: x-large;
    }
}