.main-select {
    border-bottom: 0.1rem solid #898989;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.select-item {
    margin: 2rem 1rem 1rem 5.5rem;
}

.item-check {
    display: none;
}

.item-text {
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}

.item-check:checked+.item-text {
    color: #ff0000;
}

.select-item__dummy {
    color: #898989;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    margin: 2rem 1rem 1rem 5.5rem;
}

.message {
    font-size: x-large;
    font-weight: bold;
    color: #ffc400;
    margin-left: 19rem;
}

.main-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.item-img {
    width: 10%;
    margin: 2rem 3.5rem 0;
}

.item-link {
    display: block;
    width: 100%;
}

.item-photo {
    width: 100%;
}