.main {
    text-align: center;
}

.main-title__logo {
    font-size: xx-large;
    margin-top: 2rem;
}

.form-item {
    width: 30%;
    margin: 1rem auto 0;
    text-align: start;
}

.item-name {
    display: block;
    font-size: larger;
}

.item-input {
    width: 100%;
    border-radius: 0.3rem;
    border: 0.1rem solid #898989;
    font-size: large;
    padding: 0.5rem 1rem;
}

.item-input:focus-visible {
    outline: 0;
}

.form-item__error {
    color: #fd3b3b;
}

.item-button__submit {
    width: 30%;
    color: #fff;
    background-color: #fd3b3b;
    border: none;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
    margin-top: 3rem;
    font-size: large;
    cursor: pointer;
}

.main-link {
    margin-top: 1rem;
}

.main-link__button {
    color: #006eff;
    text-decoration: none;
}

.main-link__button:visited {
    color: #006eff;
}