.main {
    text-align: center;
}

.main-content {
    width: 35%;
    text-align: start;
    margin: 0 auto 2rem;
}

.input-title {
    font-weight: bold;
}

.upload-input {
    width: 100%;
    border: 0.1rem dashed #898989;
    border-radius: 0.3rem;
    padding: 2rem 11rem;
}

.upload-input::file-selector-button {
    opacity: 0;
    position: relative;
    display: block;
    font-size: larger;
    font-weight: bold;
    padding: 0.3rem 1rem;
    cursor: pointer;
}

.upload-input::before {
    background-color: #fff;
    color: #fd3b3b;
    content: "画像を選択する";
    position: absolute;
    border: 0.1rem solid #fd3b3b;
    border-radius: 0.3rem;
    font-size: larger;
    font-weight: bold;
    padding: 0.3rem 1rem;
    cursor: pointer;
}

.content-title__logo {
    font-size: larger;
    color: #898989;
    border-bottom: 0.1rem solid #bababa;
}

.select-title,
.text-title,
.explanation-title {
    font-weight: bold;
    display: block;
}

.select,
.text,
.explanation {
    width: 100%;
    font-size: large;
    border: 0.1rem solid #bababa;
    border-radius: 0.3rem;
    padding: 0.5rem;
    cursor: pointer;
}

.item-price {
    border: 0.1rem solid #bababa;
    border-radius: 0.3rem;
    padding: 0.5rem;
}

.price {
    border: none;
    width: 95%;
    font-size: large;
    cursor: pointer;
}

.select:focus-visible,
.text:focus-visible,
.explanation:focus-visible,
.price:focus-visible {
    outline: 0;
}

.form-button__submit {
    width: 100%;
    background-color: #fd3b3b;
    color: #fff;
    border: none;
    border-radius: 0.3rem;
    font-size: large;
    font-weight: bold;
    padding: 0.5rem;
    margin: 2rem 0 0;
    cursor: pointer;
}

.form-item__error {
    color: #fd3b3b;
}

@media screen and (max-width: 1024px) {
    .upload-input {
        padding: 2rem 6.5rem;
    }

    .price {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .upload-input {
        padding: 2rem 4rem;
    }

    .select {
        font-size: medium;
    }
}

@media screen and (max-width: 426px) {
    .main-content {
        width: 80%;
    }

    .upload-input {
        padding: 2rem 6rem;
    }
}

@media screen and (max-width: 376px) {
    .upload-input {
        padding: 2rem 4.5rem;
    }
}

@media screen and (max-width: 320px) {
    .upload-input {
        padding: 2rem 3rem;
    }
}